
<%- include('header'); -%>


    <h1><%= tital %></h1>
    <h1><em><%= currentDay %></em></h1>
    <ol>
       <% task.forEach(function(elem){ %>
            <div class="main2"><input style="margin-top: 5px;" type="checkbox"><li><%= elem %></li></div>
        <%})%>
    </ol>
    <form action="/" method="post">
        <label for="newTask" class="form-label">make new</label>
        <input class="" id="newTask" name="newTask" type="text" placeholder="enter new task">
        <button class="btn btn-success" type="submit" name="button" value="<%= tital %>">Add</button>
    </form>
    <form action="/clear" method="post">
        <button class="btn btn-danger" type="submit" name="button" value="<%= tital %>">Remove All Task</button>
    </form>


    <%- include('footer'); -%>